@(profile: Profile, token: String)(implicit r: RequestHeader)


@base("OH...IT's ON LIKE DONKEY KONG NOW!") {


    <div id="request">
        <img src="@profile.avatar"/>
        <div class="info">
            <div class="bold username">@profile.name</div>
            <div class="medium">
                just challenged you to a fight

            </div>
            <div class="buttons">
                <a href="http://pinterest.com/?war[accept]=true&war[challenge]=@token" class="button positive">Accept</a>
                <a href="http://pinterest.com/?war[challenge]=@token" class="button negative">Decline</a>
            </div>
        </div>
    </div>
    <p>
        <strong>Why would you want to fight @profile.firstName</strong> <br/>
        What if I told you that you could win things like: Amazon gift cards, Subway Sandwiches, Starbucks Coffee, Hulu Subscriptions and even Cash. All you have to do is prove to your friend you’re better at Pinterest than they are.

    </p>

    <p>
        <strong>“Lets get ready to rumble.”</strong>
        <a class="bold" href="http://pinterest.com/?war[accept]=true&war[challenge]=@token">
            Click Here to Accept the Fight</a>

    </p>

}
