@(name: String, token: String)(implicit r: RequestHeader)

@base("Welcome to PinterestWar.com"){

    <p>
        <strong>Hey, @name</strong> <br/>
        We're so happy you've downloaded the PinterestWar! It's the best way to show your friends who's the boss, and win
        really cool prizes at the same time!
    </p>
    <p>
        <strong>Only thing left before you can start the battle is to Verify your email address:</strong> <br/>
        (make sure you have the extenstion installed before you verify)

    </p>
    <div>
        <a href="http://pinterest.com/?war[signup]=@token" class="button full">Verify Email Address</a>
    </div>
    <p>
        Button not showing use the link below   <br/>
        <a href="http://pinterest.com/?war[signup]=@token">http://pinterest.com/?war[signup]=@token</a>
    </p>
}
