@import "_vars";

.medium {
  font-size: @textMedium;
}

#pinwar {

  .hidden {
    display: none;
  }

  .small {
    font-size: @textSmall;
  }

  .medium {
    font-size: @textMedium;
  }

  .bold {
    font-weight: bold;
  }

  .username {

    color: #453c44;
    font-weight: bold;
    font-size: @usernameTextSize;
  }

  a.button {
    display: inline-block;
  }
  input[type="button"], a.button {
    color: white;

    border: none;
    font-size: @textSmall;

    &.positive, &.green {
      background: #00bf4d;
    }
    &.negative, &.grey {
      background: #7e7e7e;
    }
    &.red {
      color: @red;
    }
    &.orange{
      color: @orange;
    }
  }
  input[type="button"] {
    padding: 6px 16px;
  }
}