@red: #bf0000;
@backgroundColor: #ffffff;
@usernameTextSize: 28px;
@textColor: #333333;
@lightTextColor: #646464;
@textSmall: 16px;
@textSmallEmail: 18px;
@textMedium: 20px;
@textMediumEmail: 22px;
@textNormal: 24px;

@emailPaddingLeft: 45px;
@emailInputWidth: 311px;
@emailInputSmallWidth: 253px;
@borderHeight: 7px;
@height: 138px;
@appContentHeight : 45px + @height;
@boxTextColor: #8c8b8b;
@feedbackHeight: 58px;
@slideDownDuration : 500ms;
@profileImageWidth: 111px;
@profileImageMargin: 16px;
@barWidth : 19px;
@barCount: 10;
@barMargin: 10px;
@avatarSize: 110px;
@green: #5db64c;
@progressHeight: 3px;
@meActionMainColor: #00bf4d;
@meActionSecondaryColor: #4dd283;

@opponentActionMainColor: #bf0000;
@opponentActionSecondaryColor: #d24d4d;
